<!-- htmlhint tag-pair:false --><!-- htmlmin:ignore -->
{% set timelineButtons = [] %}
{% if schemeNavChunks is defined %}
    {% if schemeNavChunks['week'] is defined and schemeNavChunks['week']|length > 0 %}
        {% set timelineButtons = array_merge(timelineButtons,
            [
                'one-week' : [
                    'title'                   : '1W',
                    'type'                    : 'primary',
                    'value'                   : 'one-week',
                    'disabled'                : true
                ]
            ]
        ) %}
    {% endif %}
    {% if schemeNavChunks['month'] is defined and schemeNavChunks['month']|length > 0 %}
        {% set timelineButtons = array_merge(timelineButtons,
            [
                'one-month' : [
                    'title'                   : '1M',
                    'type'                    : 'primary',
                    'value'                   : 'one-month'
                ]
            ]
        ) %}
    {% endif %}
    {% if schemeNavChunks['threeMonth'] is defined and schemeNavChunks['threeMonth']|length > 0 %}
        {% set timelineButtons = array_merge(timelineButtons,
            [
                'three-month' : [
                    'title'                   : '3M',
                    'type'                    : 'primary',
                    'value'                   : 'three-month'
                ]
            ]
        ) %}
    {% endif %}
    {% if schemeNavChunks['sixMonth'] is defined and schemeNavChunks['sixMonth']|length > 0 %}
        {% set timelineButtons = array_merge(timelineButtons,
            [
                'six-month' : [
                    'title'                   : '6M',
                    'type'                    : 'primary',
                    'value'                   : 'six-month'
                ]
            ]
        ) %}
    {% endif %}
    {% if schemeNavChunks['year'] is defined and schemeNavChunks['year']|length > 0 %}
        {% set timelineButtons = array_merge(timelineButtons,
            [
                'one-year' : [
                    'title'                   : '1Y',
                    'type'                    : 'primary',
                    'value'                   : 'one-year'
                ]
            ]
        ) %}
    {% endif %}
    {% if schemeNavChunks['threeYear'] is defined and schemeNavChunks['threeYear'] == true %}
        {% set timelineButtons = array_merge(timelineButtons,
            [
                'three-year' : [
                    'title'                   : '3Y',
                    'type'                    : 'primary',
                    'value'                   : 'three-year'
                ]
            ]
        ) %}
    {% endif %}
    {% if schemeNavChunks['fiveYear'] is defined and schemeNavChunks['fiveYear'] == true %}
        {% set timelineButtons = array_merge(timelineButtons,
            [
                'five-year' : [
                    'title'                   : '5Y',
                    'type'                    : 'primary',
                    'value'                   : 'five-year'
                ]
            ]
        ) %}
    {% endif %}
    {% if schemeNavChunks['tenYear'] is defined and schemeNavChunks['tenYear'] == true %}
        {% set timelineButtons = array_merge(timelineButtons,
            [
                'ten-year' : [
                    'title'                   : '10Y',
                    'type'                    : 'primary',
                    'value'                   : 'ten-year'
                ]
            ]
        ) %}
    {% endif %}
    {% set timelineButtons = array_merge(timelineButtons,
        [
            'all' : [
                'title'                   : 'ALL',
                'type'                    : 'primary',
                'value'                   : 'all'
            ],
            'range' : [
                'title'                   : 'RANGE',
                'type'                    : 'primary',
                'value'                   : 'range'
            ]
        ]
    ) %}
{% endif %}
<div class="row">
    <div id="timeline-buttons" class="col" hidden>
        {{adminltetags.useTag('buttons',
            [
                'component'                         : component,
                'componentName'                     : componentName,
                'componentId'                       : componentId,
                'sectionId'                         : sectionId,
                'buttonType'                        : 'ButtonGroup',
                'buttonId'                          : 'timeline',
                'groupButtonType'                   : 'radio',
                'groupRadioButtonChecked'           : 'one-week',
                'buttons'                           : timelineButtons
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'date_range',
                'fieldLabel'                     : false,
                'fieldPlaceholder'               : 'Date Range',
                'fieldType'                      : 'flatpickr',
                'fieldFlatpickrClearButton'      : true,
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Investment Date',
                'fieldRequired'                  : true,
                'fieldHidden'                    : true,
                'fieldBazScan'                   : true,
                'fieldBazPostOnCreate'           : false,
                'fieldBazPostOnUpdate'           : true,
                'fieldValue'                     : ''
            ]
        )}}
    </div>
    <div id="datatype-buttons" class="col text-center" hidden>
        {{adminltetags.useTag('buttons',
            [
                'component'                         : component,
                'componentName'                     : componentName,
                'componentId'                       : componentId,
                'sectionId'                         : sectionId,
                'buttonType'                        : 'ButtonGroup',
                'buttonId'                          : 'datatype',
                'groupButtonType'                   : 'radio',
                'groupRadioButtonChecked'           : 'nav',
                'buttons'                           :
                [
                    'nav' : [
                        'title'                   : 'NAVS',
                        'type'                    : 'primary',
                        'value'                   : 'nav'
                    ],
                    'diff' : [
                        'title'                   : 'DIFF',
                        'type'                    : 'primary',
                        'value'                   : 'diff'
                    ],
                    'diff_percent' : [
                        'title'                   : 'PERCENT',
                        'type'                    : 'primary',
                        'value'                   : 'diff_percent'
                    ]
                ]
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('buttons',
            [
                'componentId'           : componentId,
                'sectionId'             : sectionId,
                'buttonType'            : 'button',
                'buttons'               :
                    [
                        'import' : [
                            'title'                   : 'Import Navs',
                            'position'                : 'right',
                            'size'                    : 'sm',
                            'icon'                    : 'cog fa-spin',
                            'iconHidden'              : true,
                            'url'                     : links.url('mf/schemes/q/id/' ~ scheme['id'])
                        ]
                    ]
            ]
        )}}
    </div>
</div>
<br>
{% set navsChunks = json_encode(schemeNavChunks, 16) %}
{% set scheme = json_encode(scheme, 16) %}
<div class="row">
    <div class="col">
        {{adminltetags.useTag('buttons',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'buttonType'                    : 'button',
                'buttons'                       :
                    [
                        'navs-link'    : [
                            'title'                   : 'link',
                            'size'                    : 'xs',
                            'disabled'                : true,
                            'hidden'                  : true,
                            'url'                     : '#'
                        ]
                    ]
            ]
        )}}
    </div>
</div>
<div class="row" id="timeline-chart" hidden>
    <div class="col">
        <canvas id="navsChart" style="max-height:400px;"></canvas>
    </div>
</div>
<div class="row text-center" id="timeline-loader">
    <div class="col">
        <i class="fa fa-cog fa-spin"></i> Loading chart and NAV table...
    </div>
</div>
<div class="row text-center" id="timeline-import" hidden>
    <div class="col">
        <i class="fa fa-cog fa-spin"></i> Importing all available NAV data...
    </div>
</div>
<script>
/*global paginatedPNotify BazProgress BazContentFields BazHelpers BazContentLoader Pace BazCore dataCollection Chart */
var dataCollectionComponent, dataCollectionSection, dataCollectionSectionForm;
if (!window['dataCollection']) {
    window['dataCollection'] = { };
}
if (!window['dataCollection']['{{componentId}}']) {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'] = { };
} else {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'];
}
if (!dataCollectionComponent['{{componentId}}-{{sectionId}}']) {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'] = { };
} else {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'];
}
if (!dataCollectionSection['{{componentId}}-{{sectionId}}-form']) {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'] = { };
} else {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'];
}

dataCollectionSection =
    $.extend(dataCollectionSection, {
        '{{componentId}}-{{sectionId}}-date_range'                         : {
            dateFormat          : "Y-m-d",
            altFormat           : "Y-m-d",
            static              : true,
            mode                : 'range',
            minDate             : "2000-01-01",
            maxDate             : "today",
            onChange: function(selectedDates, dateStr, instance) {
                if (dateStr.includes('to')) {
                    dataCollectionSectionForm['funcs']['getSchemeNavChunks']('range', 'range', dateStr);
                    dataCollectionSectionForm['vars']['rangeActive'] = true;
                    dataCollectionSectionForm['vars']['range'] = dateStr;
                }
            },
            afterInit: function() {
                dataCollectionSection['{{componentId}}-{{sectionId}}-date_range']['flatpickr'].config.minDate = dataCollectionSectionForm['vars']['scheme']['start_date'];
                dataCollectionSection['{{componentId}}-{{sectionId}}-date_range']['flatpickr'].config.maxDate = dataCollectionSectionForm['vars']['scheme']['navs_last_updated'];
            }
        },
    });

dataCollectionSectionForm['vars'] = { };
dataCollectionSectionForm['vars']['scheme'] = JSON.parse('{{scheme}}');
dataCollectionSectionForm['vars']['navs_chunks'] = JSON.parse('{{navsChunks}}');
dataCollectionSectionForm['vars']['actions'] = { };
dataCollectionSectionForm['vars']['navsChart'] = { };
dataCollectionSectionForm['vars']['initData'] = [];
dataCollectionSectionForm['vars']['initNavData'] = { };
dataCollectionSectionForm['vars']['weekData'] = [];
dataCollectionSectionForm['vars']['weekNavData'] = { };
dataCollectionSectionForm['vars']['monthData'] = [];
dataCollectionSectionForm['vars']['monthNavData'] = { };
dataCollectionSectionForm['vars']['threeMonthData'] = [];
dataCollectionSectionForm['vars']['threeMonthNavData'] = { };
dataCollectionSectionForm['vars']['sixMonthData'] = [];
dataCollectionSectionForm['vars']['sixMonthNavData'] = { };
dataCollectionSectionForm['vars']['yearData'] = [];
dataCollectionSectionForm['vars']['yearNavData'] = { };
dataCollectionSectionForm['vars']['threeYearData'] = [];
dataCollectionSectionForm['vars']['threeYearNavData'] = { };
dataCollectionSectionForm['vars']['fiveYearData'] = [];
dataCollectionSectionForm['vars']['fiveYearNavData'] = { };
dataCollectionSectionForm['vars']['tenYearData'] = [];
dataCollectionSectionForm['vars']['tenYearNavData'] = { };
dataCollectionSectionForm['vars']['allData'] = [];
dataCollectionSectionForm['vars']['allNavData'] = { };
dataCollectionSectionForm['vars']['rangeActive'] = false;
dataCollectionSectionForm['vars']['range'] = null;
dataCollectionSectionForm['vars']['rangeData'] = [];
dataCollectionSectionForm['vars']['rangeNavData'] = { };
dataCollectionSectionForm['vars']['dataType'] = 'nav';
dataCollectionSectionForm['vars']['timeline'] = 'week';

dataCollectionSectionForm['funcs'] = { };
dataCollectionSectionForm['funcs']['init'] = function() {
    if (Object.keys(dataCollectionSectionForm['vars']['navs_chunks']).length > 0) {
        (async function() {
            var initDataObj, navsText;
            if (Object.keys(dataCollectionSectionForm['vars']['navs_chunks']['week']).length > 0) {
                initDataObj = dataCollectionSectionForm['vars']['navs_chunks']['week'];
                navsText = 'NAVS (WEEK)';
                dataCollectionSectionForm['vars']['timeline'] = 'week';
            } else {
                initDataObj = dataCollectionSectionForm['vars']['navs_chunks']['all'];
                navsText = 'ALL';
                dataCollectionSectionForm['vars']['timeline'] = 'all';
            }

            for (var initData in initDataObj) {
                dataCollectionSectionForm['vars']['initNavData'] = { };
                dataCollectionSectionForm['vars']['initNavData']['date'] = initData;
                dataCollectionSectionForm['vars']['initNavData'][dataCollectionSectionForm['vars']['dataType']] =
                    initDataObj[initData][dataCollectionSectionForm['vars']['dataType']];

                dataCollectionSectionForm['vars']['initData'].push(dataCollectionSectionForm['vars']['initNavData']);
            }

            if (dataCollectionSectionForm['vars']['navs_chunks']['week']) {
                dataCollectionSectionForm['vars']['actions']['one-week'] =
                    {
                        name: "1 WEEK",
                        handler(chart) {
                            for (var weekDate in dataCollectionSectionForm['vars']['navs_chunks']['week']) {
                                dataCollectionSectionForm['vars']['weekNavData'] = { };
                                dataCollectionSectionForm['vars']['weekNavData']['date'] = weekDate;
                                dataCollectionSectionForm['vars']['weekNavData'][dataCollectionSectionForm['vars']['dataType']] =
                                    dataCollectionSectionForm['vars']['navs_chunks']['week'][weekDate][dataCollectionSectionForm['vars']['dataType']];

                                dataCollectionSectionForm['vars']['weekData'].push(dataCollectionSectionForm['vars']['weekNavData']);
                            }

                            chart.data.labels = dataCollectionSectionForm['vars']['weekData'].map(row => row.date);
                            chart.data.datasets = [
                                    {
                                        label: 'NAVS (WEEK)',
                                        data: dataCollectionSectionForm['vars']['weekData'].map(row => row[dataCollectionSectionForm['vars']['dataType']]),
                                        pointRadius: 0
                                    }
                                ];
                            chart.update();
                        }
                    };
            }

            if (dataCollectionSectionForm['vars']['navs_chunks']['month']) {
                dataCollectionSectionForm['vars']['actions']['one-month'] =
                    {
                        name: "1 MONTH",
                        handler(chart) {
                            for (var monthDate in dataCollectionSectionForm['vars']['navs_chunks']['month']) {
                                dataCollectionSectionForm['vars']['monthNavData'] = { };
                                dataCollectionSectionForm['vars']['monthNavData']['date'] = monthDate;
                                dataCollectionSectionForm['vars']['monthNavData'][dataCollectionSectionForm['vars']['dataType']] =
                                    dataCollectionSectionForm['vars']['navs_chunks']['month'][monthDate][dataCollectionSectionForm['vars']['dataType']];

                                dataCollectionSectionForm['vars']['monthData'].push(dataCollectionSectionForm['vars']['monthNavData']);
                            }

                            chart.data.labels = dataCollectionSectionForm['vars']['monthData'].map(row => row.date);
                            chart.data.datasets = [
                                    {
                                        label: 'NAVS (MONTH)',
                                        data: dataCollectionSectionForm['vars']['monthData'].map(row => row[dataCollectionSectionForm['vars']['dataType']]),
                                        pointRadius: 0
                                    }
                                ];
                            chart.update();
                        }
                    };
            }

            if (dataCollectionSectionForm['vars']['navs_chunks']['threeMonth']) {
                dataCollectionSectionForm['vars']['actions']['three-month'] =
                    {
                        name: "3 MONTHS",
                        handler(chart) {
                            for (var monthDate in dataCollectionSectionForm['vars']['navs_chunks']['threeMonth']) {
                                dataCollectionSectionForm['vars']['threeMonthNavData'] = { };
                                dataCollectionSectionForm['vars']['threeMonthNavData']['date'] = monthDate;
                                dataCollectionSectionForm['vars']['threeMonthNavData'][dataCollectionSectionForm['vars']['dataType']] =
                                    dataCollectionSectionForm['vars']['navs_chunks']['threeMonth'][monthDate][dataCollectionSectionForm['vars']['dataType']];

                                dataCollectionSectionForm['vars']['threeMonthData'].push(dataCollectionSectionForm['vars']['threeMonthNavData']);
                            }

                            chart.data.labels = dataCollectionSectionForm['vars']['threeMonthData'].map(row => row.date);
                            chart.data.datasets = [
                                    {
                                        label: 'NAVS (3 MONTHS)',
                                        data: dataCollectionSectionForm['vars']['threeMonthData'].map(row => row[dataCollectionSectionForm['vars']['dataType']]),
                                        pointRadius: 0
                                    }
                                ];
                            chart.update();
                        }
                    };
            }

            if (dataCollectionSectionForm['vars']['navs_chunks']['sixMonth']) {
                dataCollectionSectionForm['vars']['actions']['six-month'] =
                    {
                        name: "6 MONTHS",
                        handler(chart) {
                            for (var monthDate in dataCollectionSectionForm['vars']['navs_chunks']['sixMonth']) {
                                dataCollectionSectionForm['vars']['sixMonthNavData'] = { };
                                dataCollectionSectionForm['vars']['sixMonthNavData']['date'] = monthDate;
                                dataCollectionSectionForm['vars']['sixMonthNavData'][dataCollectionSectionForm['vars']['dataType']] =
                                    dataCollectionSectionForm['vars']['navs_chunks']['sixMonth'][monthDate][dataCollectionSectionForm['vars']['dataType']];

                                dataCollectionSectionForm['vars']['sixMonthData'].push(dataCollectionSectionForm['vars']['sixMonthNavData']);
                            }

                            chart.data.labels = dataCollectionSectionForm['vars']['sixMonthData'].map(row => row.date);
                            chart.data.datasets = [
                                    {
                                        label: 'NAVS (6 MONTHS)',
                                        data: dataCollectionSectionForm['vars']['sixMonthData'].map(row => row[dataCollectionSectionForm['vars']['dataType']]),
                                        pointRadius: 0
                                    }
                                ];
                            chart.update();
                        }
                    };
            }

            if (dataCollectionSectionForm['vars']['navs_chunks']['year']) {
                dataCollectionSectionForm['vars']['actions']['one-year'] =
                    {
                        name: "1 YEAR",
                        handler(chart) {
                            for (var yearDate in dataCollectionSectionForm['vars']['navs_chunks']['year']) {
                                dataCollectionSectionForm['vars']['yearNavData'] = { };
                                dataCollectionSectionForm['vars']['yearNavData']['date'] = yearDate;
                                dataCollectionSectionForm['vars']['yearNavData'][dataCollectionSectionForm['vars']['dataType']] =
                                    dataCollectionSectionForm['vars']['navs_chunks']['year'][yearDate][dataCollectionSectionForm['vars']['dataType']];

                                dataCollectionSectionForm['vars']['yearData'].push(dataCollectionSectionForm['vars']['yearNavData']);
                            }

                            chart.data.labels = dataCollectionSectionForm['vars']['yearData'].map(row => row.date);
                            chart.data.datasets = [
                                    {
                                        label: 'NAVS (1 YEAR)',
                                        data: dataCollectionSectionForm['vars']['yearData'].map(row => row[dataCollectionSectionForm['vars']['dataType']]),
                                        pointRadius: 0
                                    }
                                ];
                            chart.update();
                        }
                    };
            }

            if (dataCollectionSectionForm['vars']['navs_chunks']['threeYear']) {
                dataCollectionSectionForm['vars']['actions']['three-year'] =
                    {
                        name: "3 YEARS",
                        handler(chart) {
                            for (var threeYearDate in dataCollectionSectionForm['vars']['navs_chunks']['threeYear']) {
                                dataCollectionSectionForm['vars']['threeYearNavData'] = { };
                                dataCollectionSectionForm['vars']['threeYearNavData']['date'] = threeYearDate;
                                dataCollectionSectionForm['vars']['threeYearNavData'][dataCollectionSectionForm['vars']['dataType']] =
                                    dataCollectionSectionForm['vars']['navs_chunks']['threeYear'][threeYearDate][dataCollectionSectionForm['vars']['dataType']];

                                dataCollectionSectionForm['vars']['threeYearData'].push(dataCollectionSectionForm['vars']['threeYearNavData']);
                            }

                            chart.data.labels = dataCollectionSectionForm['vars']['threeYearData'].map(row => row.date);
                            chart.data.datasets = [
                                    {
                                        label: 'NAVS (3 YEARS)',
                                        data: dataCollectionSectionForm['vars']['threeYearData'].map(row => row[dataCollectionSectionForm['vars']['dataType']]),
                                        pointRadius: 0
                                    }
                                ];
                            chart.update();
                        }
                    };
            }

            if (dataCollectionSectionForm['vars']['navs_chunks']['fiveYear']) {
                dataCollectionSectionForm['vars']['actions']['five-year'] =
                    {
                        name: "5 YEARS",
                        handler(chart) {
                            for (var fiveYearDate in dataCollectionSectionForm['vars']['navs_chunks']['fiveYear']) {
                                dataCollectionSectionForm['vars']['fiveYearNavData'] = { };
                                dataCollectionSectionForm['vars']['fiveYearNavData']['date'] = fiveYearDate;
                                dataCollectionSectionForm['vars']['fiveYearNavData'][dataCollectionSectionForm['vars']['dataType']] =
                                    dataCollectionSectionForm['vars']['navs_chunks']['fiveYear'][fiveYearDate][dataCollectionSectionForm['vars']['dataType']];

                                dataCollectionSectionForm['vars']['fiveYearData'].push(dataCollectionSectionForm['vars']['fiveYearNavData']);
                            }

                            chart.data.labels = dataCollectionSectionForm['vars']['fiveYearData'].map(row => row.date);
                            chart.data.datasets = [
                                    {
                                        label: 'NAVS (5 YEARS)',
                                        data: dataCollectionSectionForm['vars']['fiveYearData'].map(row => row[dataCollectionSectionForm['vars']['dataType']]),
                                        pointRadius: 0
                                    }
                                ];
                            chart.update();
                        }
                    };
            }

            if (dataCollectionSectionForm['vars']['navs_chunks']['tenYear']) {
                dataCollectionSectionForm['vars']['actions']['ten-year'] =
                    {
                        name: "10 YEARS",
                        handler(chart) {
                            for (var tenYearDate in dataCollectionSectionForm['vars']['navs_chunks']['tenYear']) {
                                dataCollectionSectionForm['vars']['tenYearNavData'] = { };
                                dataCollectionSectionForm['vars']['tenYearNavData']['date'] = tenYearDate;
                                dataCollectionSectionForm['vars']['tenYearNavData'][dataCollectionSectionForm['vars']['dataType']] =
                                    dataCollectionSectionForm['vars']['navs_chunks']['tenYear'][tenYearDate][dataCollectionSectionForm['vars']['dataType']];

                                dataCollectionSectionForm['vars']['tenYearData'].push(dataCollectionSectionForm['vars']['tenYearNavData']);
                            }

                            chart.data.labels = dataCollectionSectionForm['vars']['tenYearData'].map(row => row.date);
                            chart.data.datasets = [
                                    {
                                        label: 'NAVS (10 YEARS)',
                                        data: dataCollectionSectionForm['vars']['tenYearData'].map(row => row[dataCollectionSectionForm['vars']['dataType']]),
                                        pointRadius: 0
                                    }
                                ];
                            chart.update();
                        }
                    };
            }

            if (dataCollectionSectionForm['vars']['navs_chunks']['all']) {
                dataCollectionSectionForm['vars']['actions']['all'] =
                    {
                        name: "ALL",
                        handler(chart) {
                            for (var allDate in dataCollectionSectionForm['vars']['navs_chunks']['all']) {
                                dataCollectionSectionForm['vars']['allNavData'] = { };
                                dataCollectionSectionForm['vars']['allNavData']['date'] = allDate;
                                dataCollectionSectionForm['vars']['allNavData'][dataCollectionSectionForm['vars']['dataType']] =
                                    dataCollectionSectionForm['vars']['navs_chunks']['all'][allDate][dataCollectionSectionForm['vars']['dataType']];

                                dataCollectionSectionForm['vars']['allData'].push(dataCollectionSectionForm['vars']['allNavData']);
                            }

                            chart.data.labels = dataCollectionSectionForm['vars']['allData'].map(row => row.date);
                            chart.data.datasets = [
                                    {
                                        label: 'ALL',
                                        data: dataCollectionSectionForm['vars']['allData'].map(row => row[dataCollectionSectionForm['vars']['dataType']]),
                                        pointRadius: 0
                                    }
                                ];
                            chart.update();
                        }
                    };
            }

            dataCollectionSectionForm['vars']['actions']['range'] =
                {
                    name: "RANGE",
                    handler(chart, range) {
                        for (var rangeDate in dataCollectionSectionForm['vars']['navs_chunks']['range']) {
                            dataCollectionSectionForm['vars']['rangeNavData'] = { };
                            dataCollectionSectionForm['vars']['rangeNavData']['date'] = rangeDate;
                            dataCollectionSectionForm['vars']['rangeNavData'][dataCollectionSectionForm['vars']['dataType']] =
                                dataCollectionSectionForm['vars']['navs_chunks']['range'][rangeDate][dataCollectionSectionForm['vars']['dataType']];

                            dataCollectionSectionForm['vars']['rangeData'].push(dataCollectionSectionForm['vars']['rangeNavData']);
                        }

                        chart.data.labels = dataCollectionSectionForm['vars']['rangeData'].map(row => row.date);
                        chart.data.datasets = [
                                {
                                    label: 'RANGE (' + dataCollectionSectionForm['vars']['range'] + ')',
                                    data: dataCollectionSectionForm['vars']['rangeData'].map(row => row[dataCollectionSectionForm['vars']['dataType']]),
                                    pointRadius: 0
                                }
                            ];
                        chart.update();
                    }
                };

            //Start with week data and generate chart
            dataCollectionSectionForm['vars']['navsChart'] = new Chart(document.getElementById('navsChart'),
                {
                    type: 'line',
                    options : {
                        locale: 'en-IN',
                        animation: false,
                        interaction: {
                            mode: 'nearest',
                            intersect: false
                        }
                    },
                    data: {
                        labels: dataCollectionSectionForm['vars']['initData'].map(row => row.date),
                        datasets: [
                            {
                                label: navsText,
                                data: dataCollectionSectionForm['vars']['initData'].map(row => row[dataCollectionSectionForm['vars']['dataType']]),
                                pointRadius: 0
                            }
                        ]
                    },
                    plugins : [
                        {
                            afterRender: function(chart, options) {
                                $('#timeline-buttons').attr('hidden', false);
                                $('#datatype-buttons').attr('hidden', false);
                                $('#timeline-loader').attr('hidden', true);
                                $('#import-loader').attr('hidden', true);
                                $('#timeline-chart').attr('hidden', false);
                                $('#navs-table').attr('hidden', false);
                            }
                        }
                    ]
                }
            );
        })();
    }

    // if ($.fn.DataTable && !$.fn.DataTable.isDataTable('#{{componentId}}-{{sectionId}}-navs-table')) {
    //     $('#{{componentId}}-{{sectionId}}-navs-table').DataTable({
    //         columns: [
    //             null,
    //             null,
    //             null,
    //             null,
    //             null,
    //             null
    //         ],
    //         order: [
    //             [0, 'desc']
    //         ],
    //         lengthMenu: [
    //             [50, 100, -1],
    //             [50, 100, 'All']
    //         ]
    //     });
    // }

    //Activate All button
    var timelineChecked = $("input[type='radio'][name='timeline']:checked");
    var timelineTimeline = $(timelineChecked).data('value');
    var timelineLabels = $(timelineChecked).parents('.btn-group').children('label');
    $(timelineLabels).each(function(index, timelineLabel) {
        $(timelineLabel).removeClass('focus active disabled');
        $(timelineLabel).css('cursor', 'pointer');

        if ($(timelineLabel).children('input')[0].id === timelineTimeline) {
            $(timelineLabel).addClass('focus active disabled');
            $(timelineLabel).css('cursor', 'default');
        }
    });

    $("input[type='radio'][name='timeline']:checked").parents('.btn-group').children('label').children('input').off();
    $("input[type='radio'][name='timeline']:checked").parents('.btn-group').children('label').children('input').click(function() {
        $('#{{componentId}}-{{sectionId}}-date_range').parents('.form-group').addClass('d-none');
        dataCollectionSectionForm['vars']['rangeActive'] = false;
        dataCollectionSectionForm['vars']['range'] = null;
        dataCollectionSection['{{componentId}}-{{sectionId}}-date_range']['flatpickr'].clear();

        timelineChecked = $("input[type='radio'][name='timeline']:checked");
        timelineTimeline = $(timelineChecked).data('value');
        timelineLabels = $(timelineChecked).parents('.btn-group').children('label');

        $(timelineLabels).each(function(index, timelineLabel) {
            $(timelineLabel).removeClass('focus active disabled');
            $(timelineLabel).css('cursor', 'pointer');

            if ($(timelineLabel).children('input')[0].id === timelineTimeline) {
                $(timelineLabel).addClass('focus active disabled');
                $(timelineLabel).css('cursor', 'default');
            }
        });

        if (timelineTimeline === 'one-week') {
            dataCollectionSectionForm['vars']['weekData'] = [];
            dataCollectionSectionForm['vars']['weekPerformanceData'] = { };
            // dataCollectionSectionForm['vars']['actions'][timelineTimeline].handler(dataCollectionSectionForm['vars']['navsChart']);
        } else if (timelineTimeline === 'one-month') {
            dataCollectionSectionForm['vars']['monthData'] = [];
            dataCollectionSectionForm['vars']['monthPerformanceData'] = { };
            // dataCollectionSectionForm['vars']['actions'][timelineTimeline].handler(dataCollectionSectionForm['vars']['navsChart']);
        } else if (timelineTimeline === 'three-month') {
            dataCollectionSectionForm['vars']['threeMonthData'] = [];
            dataCollectionSectionForm['vars']['threeMonthPerformanceData'] = { };
            // dataCollectionSectionForm['vars']['actions'][timelineTimeline].handler(dataCollectionSectionForm['vars']['navsChart']);
        } else if (timelineTimeline === 'six-month') {
            dataCollectionSectionForm['vars']['sixMonthData'] = [];
            dataCollectionSectionForm['vars']['sixMonthPerformanceData'] = { };
            // dataCollectionSectionForm['vars']['actions'][timelineTimeline].handler(dataCollectionSectionForm['vars']['navsChart']);
        } else if (timelineTimeline === 'one-year') {
            dataCollectionSectionForm['vars']['yearData'] = [];
            dataCollectionSectionForm['vars']['yearPerformanceData'] = { };
            // dataCollectionSectionForm['vars']['actions'][timelineTimeline].handler(dataCollectionSectionForm['vars']['navsChart']);
        } else if (timelineTimeline === 'three-year') {
            if (typeof dataCollectionSectionForm['vars']['navs_chunks']['threeYear'] === 'boolean') {
                dataCollectionSectionForm['funcs']['getSchemeNavChunks']('threeYear', timelineTimeline);
            } else {
                dataCollectionSectionForm['vars']['threeYearData'] = [];
                dataCollectionSectionForm['vars']['threeYearPerformanceData'] = { };
            }
        } else if (timelineTimeline === 'five-year') {
            if (typeof dataCollectionSectionForm['vars']['navs_chunks']['fiveYear'] === 'boolean') {
                dataCollectionSectionForm['funcs']['getSchemeNavChunks']('fiveYear', timelineTimeline);
            } else {
                dataCollectionSectionForm['vars']['fiveYearData'] = [];
                dataCollectionSectionForm['vars']['fiveYearPerformanceData'] = { };
            }
        } else if (timelineTimeline === 'ten-year') {
            if (typeof dataCollectionSectionForm['vars']['navs_chunks']['tenYear'] === 'boolean') {
                dataCollectionSectionForm['funcs']['getSchemeNavChunks']('tenYear', timelineTimeline);
            } else {
                dataCollectionSectionForm['vars']['tenYearData'] = [];
                dataCollectionSectionForm['vars']['tenYearPerformanceData'] = { };
            }
        } else if (timelineTimeline === 'all') {
            if (typeof dataCollectionSectionForm['vars']['navs_chunks']['all'] === 'boolean') {
                dataCollectionSectionForm['funcs']['getSchemeNavChunks']('all', timelineTimeline);
            } else {
                dataCollectionSectionForm['vars']['allData'] = [];
                dataCollectionSectionForm['vars']['allPerformanceData'] = { };
            }
        } else if (timelineTimeline === 'range') {
            $('#{{componentId}}-{{sectionId}}-date_range').parents('.form-group').removeClass('d-none');

            return;
        }

        dataCollectionSectionForm['vars']['actions'][timelineTimeline].handler(dataCollectionSectionForm['vars']['navsChart']);
    });

    //Activate Return Amount button
    var datatypeChecked = $("input[type='radio'][name='datatype']:checked");
    var datatypeDatatype = $(datatypeChecked).data('value');
    var datatypeLabels = $(datatypeChecked).parents('.btn-group').children('label');
    $(datatypeLabels).each(function(index, datatypeLabel) {
        $(datatypeLabel).removeClass('focus active disabled');
        $(datatypeLabel).css('cursor', 'pointer');

        if ($(datatypeLabel).children('input')[0].id === datatypeDatatype) {
            $(datatypeLabel).addClass('focus active disabled');
            $(datatypeLabel).css('cursor', 'default');
        }
    });

    $("input[type='radio'][name='datatype']:checked").parents('.btn-group').children('label').children('input').off();
    $("input[type='radio'][name='datatype']:checked").parents('.btn-group').children('label').children('input').click(function() {
        datatypeChecked = $("input[type='radio'][name='datatype']:checked");
        datatypeDatatype = $(datatypeChecked).data('value');
        datatypeLabels = $(datatypeChecked).parents('.btn-group').children('label');

        $(datatypeLabels).each(function(index, datatypeLabel) {
            $(datatypeLabel).removeClass('focus active disabled');
            $(datatypeLabel).css('cursor', 'pointer');

            if ($(datatypeLabel).children('input')[0].id === datatypeDatatype) {
                $(datatypeLabel).addClass('focus active disabled');
                $(datatypeLabel).css('cursor', 'default');
            }
        });

        dataCollectionSectionForm['vars']['dataType'] = datatypeDatatype;

        if (dataCollectionSectionForm['vars']['rangeActive'] === true) {
            dataCollectionSectionForm['vars']['rangeData'] = [];
            dataCollectionSectionForm['vars']['rangePerformanceData'] = { };
            dataCollectionSectionForm['vars']['actions']['range'].handler(dataCollectionSectionForm['vars']['navsChart']);

            return;
        }

        $($("input[type='radio'][name='timeline']:checked").parents('.btn-group').children('label')).each(function(index, label) {
            if ($(label).hasClass('active')) {
                timelineTimeline = $(label).children('input').data('value');
            }
        });

        if (timelineTimeline === 'one-week') {
            dataCollectionSectionForm['vars']['weekData'] = [];
            dataCollectionSectionForm['vars']['weekPerformanceData'] = { };
        } else if (timelineTimeline === 'one-month') {
            dataCollectionSectionForm['vars']['monthData'] = [];
            dataCollectionSectionForm['vars']['monthPerformanceData'] = { };
        } else if (timelineTimeline === 'three-month') {
            dataCollectionSectionForm['vars']['threeMonthData'] = [];
            dataCollectionSectionForm['vars']['threeMonthPerformanceData'] = { };
        } else if (timelineTimeline === 'six-month') {
            dataCollectionSectionForm['vars']['sixMonthData'] = [];
            dataCollectionSectionForm['vars']['sixMonthPerformanceData'] = { };
        } else if (timelineTimeline === 'one-year') {
            dataCollectionSectionForm['vars']['yearData'] = [];
            dataCollectionSectionForm['vars']['yearPerformanceData'] = { };
        } else if (timelineTimeline === 'three-year') {
            if (typeof dataCollectionSectionForm['vars']['navs_chunks']['threeYear'] === 'boolean') {
                dataCollectionSectionForm['funcs']['getSchemeNavChunks']('threeYear', timelineTimeline);
            } else {
                dataCollectionSectionForm['vars']['threeYearData'] = [];
                dataCollectionSectionForm['vars']['threeYearPerformanceData'] = { };
            }
        } else if (timelineTimeline === 'five-year') {
            if (typeof dataCollectionSectionForm['vars']['navs_chunks']['fiveYear'] === 'boolean') {
                dataCollectionSectionForm['funcs']['getSchemeNavChunks']('fiveYear', timelineTimeline);
            } else {
                dataCollectionSectionForm['vars']['fiveYearData'] = [];
                dataCollectionSectionForm['vars']['fiveYearPerformanceData'] = { };
            }
        } else if (timelineTimeline === 'ten-year') {
            if (typeof dataCollectionSectionForm['vars']['navs_chunks']['tenYear'] === 'boolean') {
                dataCollectionSectionForm['funcs']['getSchemeNavChunks']('tenYear', timelineTimeline);
            } else {
                dataCollectionSectionForm['vars']['tenYearData'] = [];
                dataCollectionSectionForm['vars']['tenYearPerformanceData'] = { };
            }
        } else if (timelineTimeline === 'all') {
            if (typeof dataCollectionSectionForm['vars']['navs_chunks']['all'] === 'boolean') {
                dataCollectionSectionForm['funcs']['getSchemeNavChunks']('all', timelineTimeline);
            } else {
                dataCollectionSectionForm['vars']['allData'] = [];
                dataCollectionSectionForm['vars']['allPerformanceData'] = { };
            }
            // dataCollectionSectionForm['vars']['actions'][timelineTimeline].handler(dataCollectionSectionForm['vars']['navsChart']);
        } else if (timelineTimeline === 'range') {
            return;
        }

        dataCollectionSectionForm['vars']['actions'][timelineTimeline].handler(dataCollectionSectionForm['vars']['navsChart']);
    });

    $('#{{componentId}}-{{sectionId}}-import').off();
    $('#{{componentId}}-{{sectionId}}-import').click(function(e) {
        e.preventDefault();

        var thisButton = $(this);
        $(thisButton).addClass('disabled');
        $(thisButton).children('i').attr('hidden', false);

        $('#timeline-buttons').attr('hidden', true);
        $('#datatype-buttons').attr('hidden', true);
        $('#timeline-import').attr('hidden', false);
        $('#timeline-chart').attr('hidden', true);
        $('#navs-table').attr('hidden', true);

        var postData = { };
        postData[$('#security-token').attr('name')] = $('#security-token').val();
        postData['get_all_navs'] = true;
        postData['scheme_id'] = dataCollectionSectionForm['vars']['scheme']['id'];

        $.post('{{links.url("mf/extractdata/getAllNavData")}}', postData, function(response) {
            $(thisButton).removeClass('disabled');
            $(thisButton).children('i').attr('hidden', true);

            $('#timeline-buttons').attr('hidden', false);
            $('#datatype-buttons').attr('hidden', false);
            $('#timeline-import').attr('hidden', true);
            $('#timeline-chart').attr('hidden', false);
            $('#navs-table').attr('hidden', false);

            if (response.responseCode == 0) {
                paginatedPNotify('success', response.responseMessage);

                dataCollectionSectionForm['funcs']['browse']($(thisButton).attr('href'));
            } else {
                paginatedPNotify('error', response.responseMessage);
            }

            if (response.tokenKey && response.token) {
                $("#security-token").attr("name", response.tokenKey);
                $("#security-token").val(response.token);
            }
        }, 'json');
    });
}

dataCollectionSectionForm['funcs']['getSchemeNavChunks'] = function(chunksize, timelineTimeline, range = null) {
    var postData = { };
    postData[$('#security-token').attr('name')] = $('#security-token').val();
    postData['scheme_id'] = dataCollectionSectionForm['vars']['scheme']['id'];
    postData['chunk_size'] = chunksize;
    if (chunksize === 'range' && range) {
        range = range.split(' to ');
        postData['range'] = range;
    }

    $.post('{{links.url("mf/schemes/getSchemeNavChunks")}}', postData, function(response) {
        if (response.responseCode == 0 && response.responseData.chunks) {
            if (chunksize === 'all') {
                dataCollectionSectionForm['vars']['navs_chunks'] = response.responseData.chunks;
            } else {
                dataCollectionSectionForm['vars']['navs_chunks'][chunksize] = response.responseData.chunks;
            }
            dataCollectionSectionForm['vars'][chunksize + 'Data'] = [];
            dataCollectionSectionForm['vars'][chunksize + 'PerformanceData'] = { };
            dataCollectionSectionForm['vars']['actions'][timelineTimeline].handler(dataCollectionSectionForm['vars']['navsChart']);
        } else {
            paginatedPNotify('error', response.responseMessage);
        }

        if (response.tokenKey && response.token) {
            $("#security-token").attr("name", response.tokenKey);
            $("#security-token").val(response.token);
        }
    }, 'json');
}

dataCollectionSectionForm['funcs']['browse'] = function(url) {
    $('#{{componentId}}-{{sectionId}}-navs-link').attr('href', url);
    //eslint-disable-next-line
    console.log($('#{{componentId}}-{{sectionId}}-navs-link'));
    BazContentLoader.loadAjax($('#{{componentId}}-{{sectionId}}-navs-link'), {
        ajaxBefore                      : function () {
                                            Pace.restart();
                                            $("#baz-content").empty();
                                            $("#loader").attr('hidden', false);
                                        },
        ajaxFinished                    : function () {
                                            BazCore.updateBreadcrumb();
                                            $("#loader").attr('hidden', true);
                                        },
        ajaxError                       : function () {
                                            $("#loader").attr('hidden', true);
                                            BazCore.updateBreadcrumb();
                                        }
    });
}

setTimeout(function(){
    $(document).ready(function() {
        dataCollectionSectionForm['funcs']['init']();
    });
}, 1000);
</script>
<!-- htmlmin:ignore -->