<!-- htmlhint tag-pair:false -->
{% set timelineButtons = [] %}
{% if scheme['navs']['navs_chunks'] is defined %}
    {% if scheme['navs']['navs_chunks']['week'] is defined and scheme['navs']['navs_chunks']['week']|length > 0 %}
        {% if scheme['navs']['navs_chunks']['week']|length != scheme['navs']['navs_chunks']['all']|length %}
            {% set timelineButtons = array_merge(timelineButtons,
                [
                    'one-week' : [
                        'title'                   : '1W',
                        'type'                    : 'primary',
                        'value'                   : 'one-week',
                        'disabled'                : true
                    ]
                ]
            ) %}
        {% endif %}
    {% endif %}
    {% if scheme['navs']['navs_chunks']['month'] is defined and scheme['navs']['navs_chunks']['month']|length > 0 %}
        {% if scheme['navs']['navs_chunks']['month']|length != scheme['navs']['navs_chunks']['all']|length %}
            {% set timelineButtons = array_merge(timelineButtons,
                [
                    'one-month' : [
                        'title'                   : '1M',
                        'type'                    : 'primary',
                        'value'                   : 'one-month'
                    ]
                ]
            ) %}
        {% endif %}
    {% endif %}
    {% if scheme['navs']['navs_chunks']['year'] is defined and scheme['navs']['navs_chunks']['year']|length > 0 %}
        {% if scheme['navs']['navs_chunks']['year']|length != scheme['navs']['navs_chunks']['all']|length %}
            {% set timelineButtons = array_merge(timelineButtons,
                [
                    'one-year' : [
                        'title'                   : '1Y',
                        'type'                    : 'primary',
                        'value'                   : 'one-year'
                    ]
                ]
            ) %}
        {% endif %}
    {% endif %}
    {% if scheme['navs']['navs_chunks']['threeYear'] is defined and scheme['navs']['navs_chunks']['threeYear']|length > 0 %}
        {% if scheme['navs']['navs_chunks']['threeYear']|length != scheme['navs']['navs_chunks']['all']|length %}
            {% set timelineButtons = array_merge(timelineButtons,
                [
                    'three-year' : [
                        'title'                   : '3Y',
                        'type'                    : 'primary',
                        'value'                   : 'three-year'
                    ]
                ]
            ) %}
        {% endif %}
    {% endif %}
    {% if scheme['navs']['navs_chunks']['fiveYear'] is defined and scheme['navs']['navs_chunks']['fiveYear']|length > 0 %}
        {% if scheme['navs']['navs_chunks']['fiveYear']|length != scheme['navs']['navs_chunks']['all']|length %}
            {% set timelineButtons = array_merge(timelineButtons,
                [
                    'five-year' : [
                        'title'                   : '5Y',
                        'type'                    : 'primary',
                        'value'                   : 'five-year'
                    ]
                ]
            ) %}
        {% endif %}
    {% endif %}
    {% set timelineButtons = array_merge(timelineButtons,
        [
            'all' : [
                'title'                   : 'ALL',
                'type'                    : 'primary',
                'value'                   : 'all'
            ]
        ]
    ) %}
{% endif %}
<div class="row">
    <div class="col">
        {{adminltetags.useTag('buttons',
            [
                'component'                         : component,
                'componentName'                     : componentName,
                'componentId'                       : componentId,
                'sectionId'                         : sectionId,
                'buttonType'                        : 'ButtonGroup',
                'buttonId'                          : 'timeline',
                'groupButtonType'                   : 'radio',
                'groupRadioButtonChecked'           : 'one-week',
                'buttons'                           : timelineButtons
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('buttons',
            [
                'componentId'           : componentId,
                'sectionId'             : sectionId,
                'buttonType'            : 'button',
                'buttons'               :
                    [
                        'import' : [
                            'title'                   : 'Import Navs',
                            'position'                : 'right',
                            'size'                    : 'sm',
                            'icon'                    : 'cog fa-spin',
                            'iconHidden'              : true,
                            'url'                     : links.url('mf/schemes/q/id/' ~ scheme['id'])
                        ]
                    ]
            ]
        )}}
    </div>
</div>
{% set navs = json_encode([], 16) %}
{% set navsChunks = json_encode([], 16) %}
{% set navsHtml = '' %}
{% if scheme['navs']['navs'] is defined and scheme['navs']['navs']|length > 0 %}
    {% set navs = json_encode(scheme['navs']['navs'], 16) %}
    {% set navsChunks = json_encode(scheme['navs']['navs_chunks'], 16) %}
    {% for navsArr in scheme['navs']['navs'] %}
        {% if navsArr|length > 0 %}
            {% set navsHtml = navsHtml ~ '<tr>' ~
            '           <td>' ~ navsArr['date'] ~ '</td>' ~
            '           <td>' ~ navsArr['nav'] ~ '</td>' %}
            {% if navsArr['diff'] is not defined %}
                {% set navsArr['diff'] = '-' %}
            {% else %}
                {% set color = 'primary' %}
                {% if navsArr['trajectory'] is defined %}
                    {% if navsArr['trajectory'] == 'up' %}
                        {% set color = 'success' %}
                    {% else %}
                        {% set color = 'danger' %}
                    {% endif %}

                    {% set navsArr['diff'] = '<span class="text-' ~ color ~ '">' ~ navsArr['diff'] ~ '</span>' %}
                {% endif %}
            {% endif %}
            {% if navsArr['diff_percent'] is not defined %}
                {% set navsArr['diff_percent'] = '-' %}
            {% else %}
                {% set color = 'primary' %}
                {% if navsArr['trajectory'] is defined %}
                    {% if navsArr['trajectory'] == 'up' %}
                        {% set color = 'success' %}
                    {% else %}
                        {% set color = 'danger' %}
                    {% endif %}

                    {% set navsArr['diff_percent'] = '<span class="text-' ~ color ~ '">' ~ navsArr['diff_percent'] ~ '</span>' %}
                {% endif %}
            {% endif %}
            {% set navsHtml = navsHtml ~
            '           <td>' ~ navsArr['diff'] ~ '</td>' ~
            '           <td>' ~ navsArr['diff_percent'] ~ '</td>' ~
            '       </tr>' %}
        {% endif %}
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col">
        {{adminltetags.useTag('buttons',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'buttonType'                    : 'button',
                'buttons'                       :
                    [
                        'navs-link'    : [
                            'title'                   : 'link',
                            'size'                    : 'xs',
                            'disabled'                : true,
                            'hidden'                  : true,
                            'url'                     : '#'
                        ]
                    ]
            ]
        )}}
    </div>
</div>
{% if navsHtml != '' %}
<div class="row">
    <div class="col">
        <canvas id="navsChart" style="max-height:400px;"></canvas>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <table id="{{componentId}}-{{sectionId}}-navs-table" class="table table-sm table-hover responsive nowrap mb-0" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th class="text-uppercase">Date</th>
                    <th class="text-uppercase">Nav</th>
                    <th class="text-uppercase">Difference</th>
                    <th class="text-uppercase">Difference Percentage</th>
                </tr>
            </thead>
            <tbody>
                {{navsHtml}}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
<script>
/*global paginatedPNotify BazProgress BazContentFields BazHelpers BazContentLoader Pace BazCore dataCollection Chart */
var dataCollectionComponent, dataCollectionSection, dataCollectionSectionForm;
if (!window['dataCollection']) {
    window['dataCollection'] = { };
}
if (!window['dataCollection']['{{componentId}}']) {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'] = { };
} else {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'];
}
if (!dataCollectionComponent['{{componentId}}-{{sectionId}}']) {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'] = { };
} else {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'];
}
if (!dataCollectionSection['{{componentId}}-{{sectionId}}-form']) {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'] = { };
} else {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'];
}

dataCollectionSectionForm['vars'] = { };
dataCollectionSectionForm['vars']['navs'] = JSON.parse('{{navs}}');
dataCollectionSectionForm['vars']['navs_chunks'] = JSON.parse('{{navsChunks}}');
dataCollectionSectionForm['vars']['actions'] = { };
dataCollectionSectionForm['vars']['navsChart'] = { };
dataCollectionSectionForm['vars']['weekData'] = [];
dataCollectionSectionForm['vars']['weekNavData'] = { };
dataCollectionSectionForm['vars']['monthData'] = [];
dataCollectionSectionForm['vars']['monthNavData'] = { };
dataCollectionSectionForm['vars']['yearData'] = [];
dataCollectionSectionForm['vars']['yearNavData'] = { };
dataCollectionSectionForm['vars']['threeYearData'] = [];
dataCollectionSectionForm['vars']['threeYearNavData'] = { };
dataCollectionSectionForm['vars']['fiveYearData'] = [];
dataCollectionSectionForm['vars']['fiveYearNavData'] = { };
dataCollectionSectionForm['vars']['allData'] = [];
dataCollectionSectionForm['vars']['allNavData'] = { };
dataCollectionSectionForm['funcs'] = { };
dataCollectionSectionForm['funcs']['init'] = function() {
    if (Object.keys(dataCollectionSectionForm['vars']['navs']).length > 0) {
        (async function() {

            for (var weekDate in dataCollectionSectionForm['vars']['navs_chunks']['week']) {
                dataCollectionSectionForm['vars']['weekNavData'] = { };
                dataCollectionSectionForm['vars']['weekNavData']['date'] = weekDate;
                dataCollectionSectionForm['vars']['weekNavData']['nav'] = dataCollectionSectionForm['vars']['navs_chunks']['week'][weekDate]['nav'];

                dataCollectionSectionForm['vars']['weekData'].push(dataCollectionSectionForm['vars']['weekNavData']);
            }

            if (dataCollectionSectionForm['vars']['navs_chunks']['week']) {
                dataCollectionSectionForm['vars']['actions']['one-week'] =
                    {
                        name: "1 WEEK",
                        handler(chart) {
                            for (var weekDate in dataCollectionSectionForm['vars']['navs_chunks']['week']) {
                                dataCollectionSectionForm['vars']['weekNavData'] = { };
                                dataCollectionSectionForm['vars']['weekNavData']['date'] = weekDate;
                                dataCollectionSectionForm['vars']['weekNavData']['nav'] = dataCollectionSectionForm['vars']['navs_chunks']['week'][weekDate]['nav'];

                                dataCollectionSectionForm['vars']['weekData'].push(dataCollectionSectionForm['vars']['weekNavData']);
                            }

                            chart.data.labels = dataCollectionSectionForm['vars']['weekData'].map(row => row.date);
                            chart.data.datasets = [
                                    {
                                        label: 'NAVS (WEEK)',
                                        data: dataCollectionSectionForm['vars']['weekData'].map(row => row.nav),
                                        pointRadius: 0
                                    }
                                ];
                            chart.update();
                        }
                    };
            }

            if (dataCollectionSectionForm['vars']['navs_chunks']['month']) {
                dataCollectionSectionForm['vars']['actions']['one-month'] =
                    {
                        name: "1 MONTH",
                        handler(chart) {
                            for (var monthDate in dataCollectionSectionForm['vars']['navs_chunks']['month']) {
                                dataCollectionSectionForm['vars']['monthNavData'] = { };
                                dataCollectionSectionForm['vars']['monthNavData']['date'] = monthDate;
                                dataCollectionSectionForm['vars']['monthNavData']['nav'] = dataCollectionSectionForm['vars']['navs_chunks']['month'][monthDate]['nav'];

                                dataCollectionSectionForm['vars']['monthData'].push(dataCollectionSectionForm['vars']['monthNavData']);
                            }

                            chart.data.labels = dataCollectionSectionForm['vars']['monthData'].map(row => row.date);
                            chart.data.datasets = [
                                    {
                                        label: 'NAVS (MONTH)',
                                        data: dataCollectionSectionForm['vars']['monthData'].map(row => row.nav),
                                        pointRadius: 0
                                    }
                                ];
                            chart.update();
                        }
                    };
            }

            if (dataCollectionSectionForm['vars']['navs_chunks']['year']) {
                dataCollectionSectionForm['vars']['actions']['one-year'] =
                    {
                        name: "1 YEAR",
                        handler(chart) {
                            for (var yearDate in dataCollectionSectionForm['vars']['navs_chunks']['year']) {
                                dataCollectionSectionForm['vars']['yearNavData'] = { };
                                dataCollectionSectionForm['vars']['yearNavData']['date'] = yearDate;
                                dataCollectionSectionForm['vars']['yearNavData']['nav'] = dataCollectionSectionForm['vars']['navs_chunks']['year'][yearDate]['nav'];

                                dataCollectionSectionForm['vars']['yearData'].push(dataCollectionSectionForm['vars']['yearNavData']);
                            }

                            chart.data.labels = dataCollectionSectionForm['vars']['yearData'].map(row => row.date);
                            chart.data.datasets = [
                                    {
                                        label: 'NAVS (1 YEAR)',
                                        data: dataCollectionSectionForm['vars']['yearData'].map(row => row.nav),
                                        pointRadius: 0
                                    }
                                ];
                            chart.update();
                        }
                    };
            }

            if (dataCollectionSectionForm['vars']['navs_chunks']['threeYear']) {
                dataCollectionSectionForm['vars']['actions']['three-year'] =
                    {
                        name: "3 YEARS",
                        handler(chart) {
                            for (var threeYearDate in dataCollectionSectionForm['vars']['navs_chunks']['threeYear']) {
                                dataCollectionSectionForm['vars']['threeYearNavData'] = { };
                                dataCollectionSectionForm['vars']['threeYearNavData']['date'] = threeYearDate;
                                dataCollectionSectionForm['vars']['threeYearNavData']['nav'] = dataCollectionSectionForm['vars']['navs_chunks']['threeYear'][threeYearDate]['nav'];

                                dataCollectionSectionForm['vars']['threeYearData'].push(dataCollectionSectionForm['vars']['threeYearNavData']);
                            }

                            chart.data.labels = dataCollectionSectionForm['vars']['threeYearData'].map(row => row.date);
                            chart.data.datasets = [
                                    {
                                        label: 'NAVS (3 YEARS)',
                                        data: dataCollectionSectionForm['vars']['threeYearData'].map(row => row.nav),
                                        pointRadius: 0
                                    }
                                ];
                            chart.update();
                        }
                    };
            }

            if (dataCollectionSectionForm['vars']['navs_chunks']['fiveYear']) {
                dataCollectionSectionForm['vars']['actions']['five-year'] =
                    {
                        name: "5 YEARS",
                        handler(chart) {
                            for (var fiveYearDate in dataCollectionSectionForm['vars']['navs_chunks']['fiveYear']) {
                                dataCollectionSectionForm['vars']['fiveYearNavData'] = { };
                                dataCollectionSectionForm['vars']['fiveYearNavData']['date'] = fiveYearDate;
                                dataCollectionSectionForm['vars']['fiveYearNavData']['nav'] = dataCollectionSectionForm['vars']['navs_chunks']['fiveYear'][fiveYearDate]['nav'];

                                dataCollectionSectionForm['vars']['fiveYearData'].push(dataCollectionSectionForm['vars']['fiveYearNavData']);
                            }

                            chart.data.labels = dataCollectionSectionForm['vars']['fiveYearData'].map(row => row.date);
                            chart.data.datasets = [
                                    {
                                        label: 'NAVS (5 YEARS)',
                                        data: dataCollectionSectionForm['vars']['fiveYearData'].map(row => row.nav),
                                        pointRadius: 0
                                    }
                                ];
                            chart.update();
                        }
                    };
            }

            if (dataCollectionSectionForm['vars']['navs_chunks']['all']) {
                dataCollectionSectionForm['vars']['actions']['all'] =
                    {
                        name: "ALL",
                        handler(chart) {
                            for (var allDate in dataCollectionSectionForm['vars']['navs_chunks']['all']) {
                                dataCollectionSectionForm['vars']['allNavData'] = { };
                                dataCollectionSectionForm['vars']['allNavData']['date'] = allDate;
                                dataCollectionSectionForm['vars']['allNavData']['nav'] = dataCollectionSectionForm['vars']['navs_chunks']['all'][allDate]['nav'];

                                dataCollectionSectionForm['vars']['allData'].push(dataCollectionSectionForm['vars']['allNavData']);
                            }

                            chart.data.labels = dataCollectionSectionForm['vars']['allData'].map(row => row.date);
                            chart.data.datasets = [
                                    {
                                        label: 'ALL',
                                        data: dataCollectionSectionForm['vars']['allData'].map(row => row.nav),
                                        pointRadius: 0
                                    }
                                ];
                            chart.update();
                        }
                    };
            }

            //Start with week data and generate chart
            dataCollectionSectionForm['vars']['navsChart'] = new Chart(document.getElementById('navsChart'),
                {
                    type: 'line',
                    options : {
                        animation: false
                    },
                    data: {
                        labels: dataCollectionSectionForm['vars']['weekData'].map(row => row.date),
                        datasets: [
                            {
                                label: 'NAVS (WEEK)',
                                data: dataCollectionSectionForm['vars']['weekData'].map(row => row.nav),
                                pointRadius: 0
                            }
                        ]
                    }
                }
            );
        })();
    }
    if ($.fn.DataTable && !$.fn.DataTable.isDataTable('#{{componentId}}-{{sectionId}}-navs-table')) {
        $('#{{componentId}}-{{sectionId}}-navs-table').DataTable({
            columns: [
                null,
                null,
                null,
                null
            ],
            order: [
                [0, 'desc']
            ],
            lengthMenu: [
                [50, 100, -1],
                [50, 100, 'All']
            ]
        });
    }

    $("input[type='radio'][name='timeline']:checked").parents('.btn-group').children('label').children('input').off();
    $("input[type='radio'][name='timeline']:checked").parents('.btn-group').children('label').children('input').click(function() {
        var checked = $("input[type='radio'][name='timeline']:checked");
        var timeline = $(checked).data('value');
        var labels = $(checked).parents('.btn-group').children('label');

        $(labels).each(function(index, label) {
            $(label).removeClass('focus active disabled');
            $(label).css('cursor', 'pointer');

            if ($(label).children('input')[0].id === timeline) {
                $(label).addClass('focus active disabled');
                $(label).css('cursor', 'default');
            }
        });

        if (timeline === 'one-week') {
            dataCollectionSectionForm['vars']['weekData'] = [];
            dataCollectionSectionForm['vars']['weekNavData'] = { };
        } else if (timeline === 'one-month') {
            dataCollectionSectionForm['vars']['monthData'] = [];
            dataCollectionSectionForm['vars']['monthNavData'] = { };
        } else if (timeline === 'one-year') {
            dataCollectionSectionForm['vars']['yearData'] = [];
            dataCollectionSectionForm['vars']['yearNavData'] = { };
        } else if (timeline === 'three-year') {
            dataCollectionSectionForm['vars']['threeYearData'] = [];
            dataCollectionSectionForm['vars']['threeYearNavData'] = { };
        } else if (timeline === 'five-year') {
            dataCollectionSectionForm['vars']['fiveYearData'] = [];
            dataCollectionSectionForm['vars']['fiveYearNavData'] = { };
        } else if (timeline === 'all') {
            dataCollectionSectionForm['vars']['allData'] = [];
            dataCollectionSectionForm['vars']['allNavData'] = { };
        }

        dataCollectionSectionForm['vars']['actions'][timeline].handler(dataCollectionSectionForm['vars']['navsChart']);
    });

    $('#{{componentId}}-{{sectionId}}-import').off();
    $('#{{componentId}}-{{sectionId}}-import').click(function(e) {
        e.preventDefault();

        var thisButton = $(this);
        $(thisButton).addClass('disabled');
        $(thisButton).children('i').attr('hidden', false);

        var postData = { };
        postData[$('#security-token').attr('name')] = $('#security-token').val();
        postData['get_all_navs'] = true;
        postData['scheme_id'] = '{{scheme["id"]}}';

        $.post('{{links.url("mf/extractdata/getAllNavData")}}', postData, function(response) {
            $(thisButton).removeClass('disabled');
            $(thisButton).children('i').attr('hidden', true);

            if (response.responseCode == 0) {
                paginatedPNotify('success', response.responseMessage);

                dataCollectionSectionForm['funcs']['browse']($(thisButton).attr('href'));
            } else {
                paginatedPNotify('error', response.responseMessage);
            }

            if (response.tokenKey && response.token) {
                $("#security-token").attr("name", response.tokenKey);
                $("#security-token").val(response.token);
            }
        }, 'json');
    });
}

dataCollectionSectionForm['funcs']['browse'] = function(url) {
    $('#{{componentId}}-{{sectionId}}-navs-link').attr('href', url);
    //eslint-disable-next-line
    console.log($('#{{componentId}}-{{sectionId}}-navs-link'));
    BazContentLoader.loadAjax($('#{{componentId}}-{{sectionId}}-navs-link'), {
        ajaxBefore                      : function () {
                                            Pace.restart();
                                            $("#baz-content").empty();
                                            $("#loader").attr('hidden', false);
                                        },
        ajaxFinished                    : function () {
                                            BazCore.updateBreadcrumb();
                                            $("#loader").attr('hidden', true);
                                        },
        ajaxError                       : function () {
                                            $("#loader").attr('hidden', true);
                                            BazCore.updateBreadcrumb();
                                        }
    });
}

setTimeout(function(){
    $(document).ready(function() {
        dataCollectionSectionForm['funcs']['init']();
    });
}, 1000);
</script>
